html, body{
    max-width: 92%;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #dadff7;
}
#about{
    font-family: Verdana;
    font-weight: 400;
    filter: brightness(1);
    position: absolute;
    color: #dadff7;
    top: 175px;
    left: 233px;
}
#header{
    position: relative;
    top: 50px;
    left: 220px;
}
#home{
    font-family: Verdana;
    font-weight: 400;
    position: absolute;
    color: #87888C;
    top: 175px;
    left: 320px;
}
body{
    background-color: #000022;
}
#openingStatement{
    color: #dadff7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    top: 45px;
    left: 225px;
}
#linkedInLogo{
    position: absolute;
    left: 540px;
    top: 121px;
}
#profilePicture{
    border-radius: 50%;
    position: absolute;
    top: 55px;
    left: 20px;
}
/* Base styles for both LinkedIn and GitHub icons */
.icon {
    width: 30px;  /* Default width */
    height: 30px; /* Default height */
    margin: 0;
    padding: 0;
    position: absolute;
    transition: transform 0.2s;
}

/* LinkedIn icon with specific position */
.icon.linkedin {
    content: url("img/linkedin.png");
    left: 535px;
    top: 121px;
}

/* GitHub icon with specific position */
.icon.github {
    content: url("img/github.png");
    left: 575px;
    top: 120px;
}

/* Hover effect for scaling */
.icon:hover {
    transform: scale(1.2);
}
