h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #dadff7;
}
#about{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    color: #dadff7;
    top: 75px;
    left: 50px;
}
#header{
    position: relative;
    top: 50px;
    left: 150px;
}
body{
    background-color: #000022;
}
p{
    color: #dadff7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    top: 45px;
    left: 150px;
}
