html, body{
    max-width: 92%;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #dadff7;
}
#about{
    font-family: Verdana;
    font-weight: 400;
    filter: brightness(1);
    position: absolute;
    color: #dadff7;
    top: 175px;
    left: 233px;
}
#header{
    position: relative;
    top: 50px;
    left: 225px;
}
#home{
    font-family: Verdana;
    font-weight: 400;
    position: absolute;
    color: #87888C;
    top: 175px;
    left: 320px;
}
body{
    background-color: #000022;
}
#openingStatement{
    color: #dadff7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    top: 45px;
    left: 225px;
}
#linkedInLogo{
    position: absolute;
    left: 540px;
    top: 121px;
}
#profilePicture{
    border-radius: 50%;
    position: absolute;
    top: 55px;
    left: 20px;
}
#zoomLinkedIn{
    width:30px; /*width of your image*/
   height:30px; /*height of your image*/
   content:url("img/linkedin.png");
   margin:0; /* If you want no margin */
   padding:0;
   position: absolute;
    left: 535px;
    top: 121px;
}
#zoomGitHub{
    width:33px; /*width of your image*/
   height:33px; /*height of your image*/
   content:url("img/github.png");
   margin:0; /* If you want no margin */
   padding:0;
   position: absolute;
    left: 575px;
    top: 120px;
}
